

body {
    background-image: linear-gradient(lightblue,rgb(115, 212, 244),rgb(170, 252, 170)) ;
    font-family: verdana;
}


#ha {
    text-align: center;
    color: rgb(32, 84, 84);
}


#he {
    border: groove rgb(0, 187, 255) 4px;
    text-align: center;
    color: rgb(16, 66, 66);
    border-radius: 10px;
}

header {
    font-family: lucida;
    background-image: linear-gradient(lightblue, lightblue,rgb(170, 252, 170),rgb(178, 231, 178));
}

section {
    display: flex;
}

.imag {
    width: 265px;
    height: 335px;
    border-radius: 2%;
    margin: 35px;
    margin-bottom: 55px;
}

.ala {
    text-decoration: none;
    color: rgb(11, 73, 20);
    margin: 24px;
    font-size: 18px;
}



nav {
    width: 100%;
    height: 60px;
    border-bottom: 3px solid black;
    margin-bottom: 4%;
}

nav ul {
    text-align: center;
    padding-top: 20px;
}

nav ul a {
    text-decoration: none;
    color: navy;
    font-size: 15px;
    font-family: verdana;
    padding: 10px;
    
}


nav ul a:hover {
    background-color: rgb(229, 255, 83);
    color: navy;
}


#ini {
    margin-right: 100px;
    margin-left: 50px;
}

#hot {
    margin-right: 100px;
    margin-left: 50px;
}

#con {
    margin-right: 100px;
    margin-left: 50px;
}
